services:
  api:
    container_name: eletronic_point_api
    build:
      context: .
      dockerfile: .docker/development/Dockerfile.api
    env_file: .env
    environment:
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    depends_on:
      - database
      - redis
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./src:/api/src
    networks:
      - eletronic_point_network

  database:
    container_name: eletronic_point_database
    build:
      context: .
      dockerfile: .docker/development/Dockerfile.postgres
    ports:
      - "5434:5432"
    env_file: .env
    restart: always
    volumes:
      - database_data:/var/lib/postgresql/data
      - ./config/database/postgres/init-database.sql:/docker-entrypoint-initdb.d/init-database.sql:ro
    networks:
      - eletronic_point_network

  redis:
    image: redis:latest
    container_name: eletronic_point_redis
    command: >
      sh -c 'redis-server --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"'
    ports:
      - "6381:6379"
    env_file: .env
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - eletronic_point_network

volumes:
  database_data:
  redis_data:

networks:
  eletronic_point_network:
    driver: bridge
